@charset "UTF-8";

.mainContainers{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
  	grid-template-areas: 
    	". mypageUserImg mypageUserImg mypageUserInfo mypageUserInfo ."
    	". repointTable repointTable repointTable repointTable .";
    margin-top: 6vh;
}
.mainContainers>div{
	
	text-align: center;
	margin: 0.5vh;
	box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
}
.mypageUserImg{
	grid-area:mypageUserImg;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
  	grid-template-areas:
  		"mypageUserImg_container mypageUserImg_container mypageUserImg_container mypageUserImg_container" 
  		"mypage_userImg_hr mypage_userImg_hr mypage_userImg_hr mypage_userImg_hr"
    	"mypageUserId mypageUserId mypageUserId2 mypageUserId2"
    	"mypageUserNickName mypageUserNickName mypageUserNickName2 mypageUserNickName2"
    	"memberLeave memberLeave memberLeave memberLeave";
	text-align: center;
}
.mypageUserImg_container{
	grid-area: mypageUserImg_container;
}
.mypage_userImg_hr{
	grid-area: mypage_userImg_hr;
}
.mypageUserId{
	grid-area: mypageUserId;
}
.mypageUserId2{
	grid-area: mypageUserId2;
	    text-align: left;
}
.mypageUserNickName{
	grid-area: mypageUserNickName;
	    margin-top: 2vh;
}
.mypageUserNickName2{
	grid-area: mypageUserNickName2;
	    margin-top: 2vh;
	        text-align: left;
}
.userNicknamechange{
  cursor: pointer;
  margin-left: 2vw;
}
.mypageUserImg .memberLeave{
	grid-area: memberLeave;
    }
.mypageUserImg .memberLeave > button{
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: #ff8282;
    }
.mypageUserImg_container>img{
    width: 5vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
	border-radius: 50%; 
}
.mypageUserNickName>.btn{
    margin-left: 1vw;
}
.mypageUserInfo{
	grid-area: mypageUserInfo;
	padding-top: 2.8vh;
}
.repointTable{
	grid-area:repointTable;
    margin-top: 5vh;  
}
.tab_menu{
	color:white;
}
.userPositionAdd{
	margin-bottom: 1vh;
	
}
.rejeunghaejwo{
}
#user_VisitRecord_container{
}
#user_plan_container{
}
#menu_etc{
}
/* Style the list items */
#userPositionList li {
  cursor: pointer;
  list-style-type: none;
  transition: 0.2s;
      font-size: 1.5vmin;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: black;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #a7a7a7;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
/* Set all odd list items to a different color (zebra-stripes) */
#userPositionList li:nth-child(odd) {
}

/* Darker background-color on hover */
#userPositionList li:hover {
  background: #ddd;
  color:black;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  color: #a9a9a9;
}

/* Style the close button */
.userPositionListclose {
    font-size: 1.5vw;
    margin-left: 2vw;
    text-align: center;
    vertical-align: middle;
}

.userPositionListclose:hover {
  background-color: #f44336;
  color: white;
}
.table-hover>#visitRecords_table>tr:hover
{
color:black;
}
.table-hover>#todoList>tr:hover
{
color:black;
}
.mypageUserPosition{
	font-size: 2vmin;
	margin-bottom: 2vh;
}
.historypagingBtn{
  cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}
.historypagingBtn:hover{
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border-color: #ffffff;
}
.visitReviewBtn{
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}
.visitReviewBtn:hover{
     box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border-color: #ffffff;
}
.img_preview > img{
	    border: 0;
    width: 10vw;
}

@media screen and (max-width: 850px) {
	
.mainContainers{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
  	grid-template-areas: 
    	"mypageUserImg mypageUserImg mypageUserImg mypageUserImg mypageUserImg mypageUserImg"
    	"mypageUserInfo mypageUserInfo mypageUserInfo mypageUserInfo mypageUserInfo mypageUserInfo"
    	"repointTable repointTable repointTable repointTable repointTable repointTable";
    margin-top: 6vh;
}
.mypageUserInfo{
	grid-area:mypageUserInfo;
}

	}
