<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	<typeAliases>
		<typeAlias alias="ui" type="com.jeong.haejwo.vo.UserInfoVO"/>
		<typeAlias alias="bo" type="com.jeong.haejwo.vo.BoardVO"/>
		<!-- <typeAlias alias="ci" type="com.jeong.haejwo.vo.ConnectionInfoVO"/> -->
	</typeAliases>
	<mappers>
		<mapper resource="sql/user.xml"/>
		<mapper resource="sql/review.xml"/>
		<mapper resource="sql/board.xml"/>
		<mapper resource="sql/rank.xml"/>
		<mapper resource="sql/profile.xml"/>
		<mapper resource="sql/history.xml"/>
		<mapper resource="sql/api.xml"/>
		<!--<mapper resource="sql/connection_info.xml"/>-->
	</mappers>
	
</configuration>  